.fondo{
    background-color: #158f97;
    width: 100%;
    height: 100%;
    margin-top: 123px;
}

.formulario{ 
    width: 260px; 
    height: 300px; 
    background: #158f97;
    position: absolute; 
    margin-left: 40%; 
    margin-top: 6%; 
    opacity: 0.7; 
    border-radius: 7px; 
    padding: 37px;

}

.titulo{
    position: absolute; 
    margin-left:290px; 
    align-items: center;
    text-align: center;
}

.verde-letra{
    height: 60px; 
    margin-top: -50px; 
    font-family: arial bold; 
    margin-top: 5px; 
    font-size: 290%; 
    color: #158f97;
    
}

.triangulo{
    
    border-right:210px solid transparent;
    border-top: 210px solid transparent;
    border-left: 210px solid #abc241;
    border-bottom:190px solid #abc241;
}
.triangulo-2{
    width: 0;
    height: 0;
    border-right:180px solid transparent;
    border-top: 180px solid transparent;
    border-left: 180px solid #158f97;
    border-bottom:170px solid #158f97;
}

.formulario-agendar{
    width: 550px;
    background: #158f97d1;
    padding: 30px;
    margin: auto;
    margin-top: 46px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px rgb(8 8 8)
}
.boton1{
    margin-top: 20px; 
    margin-left: 170px;
}
.btn-agendar{
    color:beige;font-weight: bold; 
    font-size: 100%; 
    margin-left: 20px;
}
.btn-cancelar{
    color:beige;font-weight: bold; 
    font-size: 100%; 
    margin-left: 130px;
}
.btn-listar{
    color:beige;font-weight: bold; 
    font-size: 100%; margin-left: 130px; 
    margin-top: 3px;
}
.cerrar-sesion{
    margin-top: -20px; 
    margin-left: 1200px;
    
}
.ayuda-funcionario{
    margin-top: 80px; 
    margin-left: 1250px;
    font-weight: bold;font-size: 100%;

}
.mensaje-correo{
    margin-top:50px;
}
.correo-enlace{
    margin-top:120px
}
.inicio-ad{
    margin-top: 80px; 
    margin-left: 1250px;
    font-weight: bold;font-size: 100%;
}
.card{
    margin-top: 110px;
}

@media screen and (min-width:801px) and (max-width:1200px){
    .titulo{
        margin-left:120px;
    }
    .verde-letra{
        font-size:180%;
    }
    .formulario-agendar{
        margin-top: 20%;
    }

    .cerrar-sesion{
        margin-left: 70%;
    }
    .inicio-ad{
        margin-left:70%;
    }
    .ayuda-funcionario{
        margin-left: 70%;
    }
    .iconos{
        display: none;
    }
    .btn-agendar{
        color:beige;font-weight: bold; 
        font-size: 100%; 
        margin-top: 30px;
        margin-left: 10px;
    }
    .btn-cancelar{
        color:beige;font-weight: bold; 
        font-size: 100%; 
        margin-left: 10px;
        margin-top: 30px;
    }
    .btn-listar{
        color:beige;font-weight: bold; 
        font-size: 100%; margin-left: 130px; 
        margin-top: 30px;
        margin-left:10px;
    }
    
    
}

@media screen and (min-width:450px) and (max-width:800px){
    .titulo{
        margin-left:90px;
    }
    .verde-letra{
        font-size:150%;
    }
    .formulario{
        margin-left: 20%;
        margin-top:20%;
    }
    .triangulo{
        display: none;
    }
    .triangulo-2{
        display: none;
    }
    .formulario-agendar{
        width: 450px;
        margin-top: 25%;
    }
    .iconos{
        display: none;
    }
    .boton1{
        margin-left: 70px;
        margin-top: 20%;
    }
    .btn-agendar{
        margin-left:70px;
    }
    .btn-cancelar{
        margin-top: 10px;
        margin-left: 70px;
    }
    .btn-listar{
        margin-top:10px;
        margin-left:70px;
    }
    .cerrar-sesion{
        margin-left: 80%;
    }
    .inicio-ad{
        margin-left:80%;
    }
    .ayuda-funcionario{
        margin-left:80%;
    }
}

@media screen and (min-width:100px) and (max-width:449px){
    .formulario{
        margin-left: 5%;
        margin-top: 37%;
    }
    .verde-letra{
        font-size:40%;
    }
    .triangulo{
        display: none;
    }
    .triangulo-2{
        display: none;
    }

    .iconos{
        display: none;
    }

    
}

