{% extends 'partials/body.html' %}
{% load static %}

<div class="Cerrar Sesion" style="margin-top: -20px; margin-left: 1270px;">
    <a href="{% url 'login' %}" style="color: rgb(243, 239, 239); font-weight: bold;font-size: 100%;">INICIO</a>
</div>

{% block contenido %}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Citas</h3>
    </div>

    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                        aria-describedby="example1_info">
                        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Servicio y fecha</th>
            <th scope="col">Hora Cita</th>
            <th scope="col">Estado</th>
            <th scope="col">Paciente</th>
            <th scope="col">Acciones</th>


        
        </tr>
        </thead>
        <tbody>
            
        {% for cita in citas  %}
            
            
            <tr>
            
                {% if cita.paciente.numDocumento == user.get_username or user.groups.all.0 %}
            
                <td>{{cita.id}}</td>
                <td>{{cita.agenda}}</td>
                <td>{{cita.agenda.horaDisponible}}</td>
                <td>{{cita.estado}}</td>
                <td>{{cita.paciente.numDocumento}}</td>
                <td><a href="{% url 'citas-eliminar' cita.id %}" class="btn btn-primary" style="background-color:rgb(184, 21, 21)">Cancelar Cita</a> </td>
        
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
    </div>
    
{% endblock contenido %}

{% block javascript %}
<!-- DataTables  & Plugins -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'jszip/jszip.min.js' %}"></script>
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": false, "lengthChange": false, "autoWidth": false,
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

        });
    });
</script>
{% endblock javascript %}