{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}

<div style="width: 550px; background:#158f97d1; padding: 30px; margin: auto; margin-top: 46px;border-radius: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;box-shadow: 7px 13px 37px rgb(8, 8, 8);  class="container w-50 bg-white p-5 rounded-3 shadow">
    <h2>{{titulo}}</h2>
    <form action="" method="POST">
        {{form|crispy}}
        {% csrf_token %}
        <input class="btn btn bg-success" type="submit" value="Registrar">

    
    </form> </div>
    <img src="{% static 'img/img1.jpeg' %}" style=" z-index: -1; width: 100%;height: 100%;" class="position-fixed bottom-0 end-0 " alt="">

{% endblock contenido %}