{% extends 'partials/body.html' %}

{% block contenido %}

<div class="container">            
    <table class="table" style="background-color:white; margin:1%;">
        <thead style="background-color: #abc241;">
        <tr>
            <th scope="col">Servicio</th>
            <th scope="col">Fecha Cita</th>
            <th scope="col">Hora Cita</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>

        
        </tr>
        </thead>
        <tbody>
            
        {% for cita in citas  %}
            <tr>
            
            {% if cita.estado != "3" %}
                
                
                <td>{{cita.servicio}}</td>
                <td>{{cita.fechaCita}}</td>
                <td>{{cita.horaCita}</td>
                <td>{{cita.estado}}</td>
                <td> <a href="{% url 'pacientes-modificar' paciente.id %}" class="btn btn-primary" style="background-color:rgb(15, 96, 42)">Modificar</a><a href="{% url 'pacientes-eliminar' paciente.id %}" class="btn btn-primary" style="background-color:rgb(184, 21, 21)">Borrar</a> </td>
                
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    
{% endblock contenido %}