{% extends 'partials/body.html' %}


{% block contenido %}
<div class="formulario" style="width: 20%;">
    <form action="" style="border: black;">
        <input type="text" placeholder="usuario" required style="margin-top: 25px; height: 7px; padding: 15px; border:black; border: 10px;">
        <input type="password" placeholder="contraseña" required style="margin-top: 10px; height:7px; padding: 15px;">
        <div class="bten-ingresar" style="margin: 50PX;">
            <button style="background: red;">Ingresar</button>
        </div>
        <div class="Olvido-contraseña">
            <a href="" style="color: black;">Olvido su contraseña</a>
        </div>
        <div class="Registrarse">
            <a href="" style="color: black;">Registrar</a>
        </div>

    </form>  
    </div>
{% endblock contenido %}
    