{% extends 'partials/body.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="Cerrar Sesion" style="margin-top: -20px; margin-left: 1270px;">
    <a href="{% url 'fin-sesion' %}" style="color: rgb(243, 239, 239); font-weight: bold;font-size: 100%;">INICIO</a>
</div>
<input type="hidden" name="modal-status" id="modal-status" value="{{modal_status}}">
<div class="container">            
    <table class="table" style="margin-right: 100px; margin-top: -3px; background-color: white;">
        <thead style="background-color: #abc241;">
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo Doc</th>
            <th scope="col">N Documento</th>
            <th scope="col">RH</th>
            <th scope="col">Tel</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Nombre Familiar</th>
            <th scope="col">Tel Familiar</th>
            <th scope="col">Estado</th>
            <th scope="col">Grupo</th>
            <th scope="col">Acciones</th>



        
        </tr>
        </thead>
        <tbody>
            
        {% for paciente in pacientes  %}
        
        {% if paciente.numDocumento == user.get_username or user.groups.all.0.1 %}
            <tr>
                <td>{{paciente.nombres}}</td>
                <td>{{paciente.apellidos}}</td>
                <td>{{paciente.tipoDocumento}}</td>
                <td>{{paciente.numDocumento}}</td>
                <td>{{paciente.rh}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.email}}</td>
                <td>{{paciente.fechaNacimiento}}</td>
                <td>{{paciente.nombreContacto}}</td>
                <td>{{paciente.telefonoContacto}}</td>
                <td>{{paciente.estado}}</td>
                <td>{{paciente.user.groups.all.0}}</td>
                <td>
                    <div class="row">
                        <form action="" method="POST" class="col-4">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{paciente.id}}">
                            <button class="btn btn-primary btn-block" name="form-editar">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form action="" class="col-4" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{paciente.id}}">
                            <button class="btn btn-danger btn-block" name="form-eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        </form>
                    </div>
                </td>

                
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <img src="{% static 'img/fondo-regis.jpeg' %}" style=" z-index: -1; width: 100%;height: 100%;" class="position-fixed bottom-0 end-0 " alt="">

    
{% endblock contenido %}
    