{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}



{% block contenido %}
<input type="hidden" name="modal-status" id="modal-status" value="{{modal_status}}">
<div class="container">            
    <table class="table" style="background-color:white; margin:1%;">
        <thead style="background-color: #abc241;">
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo De Documento</th>
            <th scope="col">Numero De Documento</th>
            <th scope="col">Tipo de Sangre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Nombre de Contacto Familiar</th>
            <th scope="col">Telefono de Contacto Familiar</th>
            <th scope="col">Clave de Seguridad</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>

        
        </tr>
        </thead>
        <tbody>
            
        {% for paciente in pacientes  %}
            <tr>
                
                
                <td>{{paciente.nombres}}</td>
                <td>{{paciente.apellidos}}</td>
                <td>{{paciente.tipoDocumento}}</td>
                <td>{{paciente.numDocumento}}</td>
                <td>{{paciente.rh}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.email}}</td>
                <td>{{paciente.fechaNacimiento}}</td>
                <td>{{paciente.nombreContacto}}</td>
                <td>{{paciente.telefonoContacto}}</td>
                <td>{{paciente.clave}}</td>
                <td>{{paciente.estado}}</td>
                <td>
                    <div class="row">
                        <form action="" method="POST" class="col-4">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{paciente.id}}">
                            <button class="btn btn-primary btn-block" name="form-editar">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form action="" class="col-4" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{paciente.id}}">
                            <button class="btn btn-danger btn-block" name="form-eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        </form>
                    </div>
                </td>

                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
{% endblock contenido %}
    